/* style.css */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1f63b1;
    color: white;
    padding: 10px 0;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-image img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  
}

.college-logo img {
    height: 60px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px 0;
    background-color: #444;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

#studentId {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.results-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.course-results {
    width: 45%;
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.course-results ul {
    list-style: none;
    padding: 0;
}

course-results ul li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

footer {
    background-color: #1f63b1;
    color: white;
    text-align: center;
    padding: 10px 0;
}